 table.main {}
 tr.row {}
 td.cell {}
 div.block {}
 div.paragraph {}
 .font0 { font:16pt Arial, sans-serif; }
 .font1 { font:18pt Arial, sans-serif; }
 .font2 { font:5pt Times New Roman, serif; }
 .font3 { font:9pt Times New Roman, serif; }
 .font4 { font:10pt Times New Roman, serif; }
 .font5 { font:21pt Times New Roman, serif; }
