 table.main {}
 tr.row {}
 td.cell {}
 div.block {}
 div.paragraph {}
 .font0 { font:12pt Arial, sans-serif; }
 .font1 { font:15pt Times New Roman, serif; }
 .font2 { font:17pt Times New Roman, serif; }
